.bg-gold{background-color:gold; color:black;}
.bg-white{background-color:white; }
.bg-black{background-color:black; }

.b0
{
	background-color: #282828;
}

.b1
{
background-color:#283018;
}

.b2
{
background-color:#aa863a;
}


.b3
{
background-color:#6534ff;
}


.b4
{
background-color:#5e0231
}


.b5
{
background-color:#e6af4b;
}


.b6
{
background-color:#334431;
}


.b7
{
background-color:#300032;
}


.b8
{
background-color:#49412c;
}


.b9
{
background-color:#252839;
}


.b10
{
background-color:#2bb349;
}

.b11
{
background-color:#1565c0;
}

.b12
{
background-color:#0d59af;
}




.b13
{
background-color:#bfbfbf;
}

.b14
{
background-color:#126d5b;
}
.b15
{
background-color:#25da6d;
}
.b16
{
background-color:#545b24;
}

.b17
{
background-color:#446f68;
}